body {
	margin: 0 auto;
	height: 100vh;
	width: 100%;
	background-color: black;
	color: whitesmoke;
	/* background-image: url("./assets/sky.png"); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#myPassword {
	margin: 0 auto;
}
#app {
	margin: auto;
	height: 100%;
	text-align: center;
	max-width: 70%;
	min-width: none;
	word-wrap: break-word;
}

#wallet {
	text-align: center;

	margin: auto;
	width: 70%;
}

#wallet2 {
	text-align: center;

	margin: auto;
	width: 70%;
}
#message {
	text-align: center;
	margin: auto;
}

#clearStorage {
	margin: auto;
	width: 100%;
	text-align: center;
}

#clearBtn {
	border: 3px solid #077cc0;
	width: auto;
	margin: auto;
}

#mem {
	border: solid yellow 1px;
}

#memDecrypt {
	border: solid blueviolet 1px;
}

#subscribe {
	border: solid blue 2px;
	margin: auto;
	width: 50%;
}
#header {
	margin: 0 auto;
	width: 100%;
}
#logo {
	margin: 0 auto;

	width: 80%;
}
